# data.world datacamp tutorial

> #### Setup  

> Before running data.world notebooks for the first time, you'll need to:  
1. Install data.world's Python package, including optional `pandas` dependencies: 
```shell
pip install datadotworld[pandas]
```
1. Obtain an API access token at https://data.world/settings/advanced
1. Store API access token using the `dw` command-line tool: 
```shell
dw configure
```

3 ) Copy/Paste in your data.world API token when prompted. Find your token at https://data.world/settings/advanced

We've also included one final code example here that shows some more ways to inspect a dataset, so check it out and just click submit to finish the course. We hope you enjoyed it!

> Once your environment is set up, these steps do not need to be repeated for other data.world notebooks.

In [4]:
# Import the datadotworld module as dw and the sys module
import datadotworld as dw
import sys
import pprint as pp
import time 

Start=time.time()

# Import a dataset
aisdata = dw.load_dataset('alhaol/ais')

print ('It took {0} min to dowanload 1 miilion AIS records'. \
       format(float(time.time()-Start)/60))

It took 0.00874174833298 min to dowanload 1 miilion AIS records

In [5]:
list(aisdata.dataframes)

[u'dyn1000000', u'stat1000000']

In [6]:
Start=time.time()
DYN=aisdata.dataframes['dyn1000000']
STAT=aisdata.dataframes['stat1000000']
print ('It took {0} min to dowanload {1} MB DYN and {2} MB STAT '. \
       format(float(time.time()-Start)/60), \
       sys.getsizeof(DYN)/1e6, sys.getsizeof(STAT))

IndexError: tuple index out of range

In [ ]:
#DYN.to_csv('dyn1000000.csv')

In [ ]:
# Import the datadotworld module as dw and the sys module
import datadotworld as dw
import sys
import pprint as pp

# Import a dataset
refugee_dataset = dw.load_dataset('nrippner/refugee-host-nations')

# Get the size of the dataset:
print(" ")
print('The Size of the DataSet= {0}'.format(sys.getsizeof(refugee_dataset)))
print(" ")

# List all of the data files:
dataframes = refugee_dataset.dataframes
print(" ")
for df in dataframes:
    pp.pprint(df)
print(" ")
    
# print all of the files in a dataset:
resources = refugee_dataset.describe()['resources']
pp.pprint('name:')

for r in resources:
    pp.pprint(r['name'])

print(" ")

pp.pprint('/n type of file:')

for r in resources:
    pp.pprint(r['format'])

In [ ]:
# import datadotworld module and pp.pprint

import datadotworld as dw
import os
import pprint as pp

In [ ]:
# import matplotlib for plots

import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# load_dataset examples

dataset = dw.load_dataset('https://data.world/stephen-hoover/chicago-city-council-votes')

In [ ]:
# describe examples: describe dataset

dataset.describe()

In [ ]:
# describe examples: describe specific dataset resource

dataset.describe('alderman_votes')

In [ ]:
# Accessing the data
## After loading a dataset object, you can access the data via: `raw_data`, `tables`, or `dataframes`.
## Each of these returns a dictionary of values: `bytes`, `list` and `pandas.DataFrame` objects, respectively.

votes_dataframe = dataset.dataframes['alderman_votes']
votes_dataframe.head(3)

In [ ]:
# Working with multiple datasets

# Load two datasets from data.world that you'd like to merge:
int_dataset = dw.load_dataset('https://data.world/jonloyens/intermediate-data-world')
fipsCodes_dataset = dw.load_dataset('https://data.world/uscensusbureau/fips-state-codes')

# Create two dataframes
police_shootings = int_dataset.dataframes['fatal_police_shootings_data']
state_abbrvs = fipsCodes_dataset.dataframes['statesfipscodes']

## Merge the two datasets together on the state and stusab fields:
merged_dataframe = police_shootings.merge(state_abbrvs, how = 'left', left_on = 'state', right_on='stusab')

## Create a 'citystate' column in the merged_dataframe dataframe with the format `city, state_name`:
merged_dataframe["citystate"] = merged_dataframe["city"] + ", " + merged_dataframe["state_name"]

## Print head of merged dataframe
pp.pprint(merged_dataframe.head(5))

In [ ]:
# Querying data.world via SDK
## Query using SQL or SPARQL query languages. SQL is default, or add `query_type='sparql'` as a parameter for SPARQL. 
## The `query()` method gives you access to three properties to access the resulting data: `raw_data`, `table`, and `dataframe`.

# SQL

## Single table query exercise

# Define query string
sql_query = "SELECT * FROM `unhcr_all` WHERE Year = 2010"

# Query table, passing query string as parameter
query2010 = dw.query('https://data.world/nrippner/refugee-host-nations', sql_query)

# Create dataframe using dataframe property
unhcr2010 = query2010.dataframe

# Print first 5 rows of results
unhcr2010.head(5)

In [ ]:
# Querying data.world via SDK
## Query using SQL or SPARQL query languages. SQL is default, or add `query_type='sparql'` as a parameter for SPARQL. 
## The `query()` method gives you access to three properties to access the resulting data: `raw_data`, `table`, and `dataframe`.

# SQL

## Single table query exercise

# Define query string
sql_query = "SELECT * FROM `unhcr_all` WHERE Year = 2010"

# Query table, passing query string as parameter
query2010 = dw.query('https://data.world/nrippner/refugee-host-nations', sql_query)

# Create dataframe using dataframe property
unhcr2010 = query2010.dataframe

# Print first 5 rows of results
unhcr2010.head(5)

In [11]:
list(aisdata.tables)

[u'dyn1000000', u'stat1000000']

In [20]:
sql_query=''' 
SELECT d.mmsi, d.latitude,d.navigational_status,d.speed_over_ground
FROM dyn1000000 as d
WHERE d.speed_over_ground>25
LIMIT 100;
'''
query2010 = dw.query('alhaol/ais', sql_query)
query2010=query2010.dataframe
query2010.head()

    latitude       mmsi     navigational_status  speed_over_ground
0 -34.775603  770576272  UNDER_WAY_USING_ENGINE          26.802532
1 -34.775368  770576272  UNDER_WAY_USING_ENGINE          26.853977
2 -34.775023  770576272  UNDER_WAY_USING_ENGINE          26.905421
3 -34.778433  770576272  UNDER_WAY_USING_ENGINE          26.648199
4 -34.778875  770576272  UNDER_WAY_USING_ENGINE          26.751088

In [35]:
sql_query='''
SELECT d.latitude,d.speed_over_ground,
CASE WHEN d.speed_over_ground >50 THEN 'High Speed'
     WHEN d.speed_over_ground <1 THEN 'LOW Speed'
     ELSE 'GOOD SPEED'
END
AS SpeedLevel
FROM dyn1000000 AS d
WHERE d.speed_over_ground>30
ORDER BY SpeedLevel
LIMIT 100;
'''
query2010 = dw.query('alhaol/ais', sql_query)
query2010=query2010.dataframe
query2010.head()

   SpeedLevel   latitude  speed_over_ground
0  GOOD SPEED -14.859442          38.017412
1  GOOD SPEED -17.801223          47.586070
2  GOOD SPEED -17.803242          45.939849
3  GOOD SPEED -17.803558          45.785516
4  GOOD SPEED -17.804533          46.454293

In [36]:
DYN.columns.tolist()

['timestamp',
 'mmsi',
 'id',
 'latitude',
 'longitude',
 'navigational_status',
 'rate_of_turn',
 'speed_over_ground',
 'position_accuracy',
 'course_over_ground',
 'true_heading',
 'source',
 'location']

In [37]:
STAT.columns.tolist()

['id',
 'timestamp',
 'mmsi',
 'imo',
 'call_sign',
 'ownship',
 'ship_type',
 'length_to_bow',
 'length_to_port',
 'length_to_starboard',
 'length_to_stern',
 'eta',
 'draught',
 'destination',
 'source']

In [41]:
sql_query='''
SELECT p1.mmsi,p1.speed_over_ground AS SPEED, p2.ship_type AS TYPE
FROM dyn1000000 AS p1
INNER JOIN stat1000000 AS p2
ON p1.mmsi = p2.mmsi AND p1.timestamp > p2.timestamp
LIMIT 100;
'''
query2010 = dw.query('alhaol/ais', sql_query)
query2010=query2010.dataframe
query2010.head(100)

       SPEED                           TYPE       mmsi
0   5.401662          OTHER_TYPE_RESERVED_1  273457410
1   5.401662          OTHER_TYPE_RESERVED_1  273457410
2   5.401662          OTHER_TYPE_RESERVED_1  273457410
3   5.401662          OTHER_TYPE_RESERVED_1  273457410
4   5.401662          OTHER_TYPE_RESERVED_1  273457410
5   5.401662          OTHER_TYPE_RESERVED_1  273457410
6   5.401662          OTHER_TYPE_RESERVED_1  273457410
7   5.401662          OTHER_TYPE_RESERVED_1  273457410
8   5.401662          OTHER_TYPE_RESERVED_1  273457410
9   5.401662          OTHER_TYPE_RESERVED_1  273457410
10  5.401662          OTHER_TYPE_RESERVED_1  273457410
11  5.401662          OTHER_TYPE_RESERVED_1  273457410
12  5.401662          OTHER_TYPE_RESERVED_1  273457410
13  5.401662          OTHER_TYPE_RESERVED_1  273457410
14  5.401662          OTHER_TYPE_RESERVED_1  273457410
15  5.401662          OTHER_TYPE_RESERVED_1  273457410
16  5.401662          OTHER_TYPE_RESERVED_1  273457410
17  5.401662          OTHER_TYPE_RESERVED_1  273457410
18  5.401662          OTHER_TYPE_RESERVED_1  273457410
19  5.401662          OTHER_TYPE_RESERVED_1  273457410
20  5.401662          OTHER_TYPE_RESERVED_1  273457410
21  5.401662          OTHER_TYPE_RESERVED_1  273457410
22  5.401662          OTHER_TYPE_RESERVED_1  273457410
23  5.401662          OTHER_TYPE_RESERVED_1  273457410
24  5.401662          OTHER_TYPE_RESERVED_1  273457410
25  5.401662          OTHER_TYPE_RESERVED_1  273457410
26  7.819549             TANKER_ALL_OF_TYPE  240865000
27  7.819549             TANKER_ALL_OF_TYPE  240865000
28  7.819549             TANKER_ALL_OF_TYPE  240865000
29  5.813217              CARGO_ALL_OF_TYPE  636015431
..       ...                            ...        ...
70  5.967550              CARGO_ALL_OF_TYPE  273137200
71  5.967550              CARGO_ALL_OF_TYPE  273137200
72  5.967550              CARGO_ALL_OF_TYPE  273137200
73  5.967550              CARGO_ALL_OF_TYPE  273137200
74  5.967550              CARGO_ALL_OF_TYPE  273137200
75  5.967550              CARGO_ALL_OF_TYPE  273137200
76  5.967550              CARGO_ALL_OF_TYPE  273137200
77  5.967550              CARGO_ALL_OF_TYPE  273137200
78  5.967550              CARGO_ALL_OF_TYPE  273137200
79  5.967550              CARGO_ALL_OF_TYPE  273137200
80  5.967550              CARGO_ALL_OF_TYPE  273137200
81  5.967550              CARGO_ALL_OF_TYPE  273137200
82  5.967550              CARGO_ALL_OF_TYPE  273137200
83  5.967550              CARGO_ALL_OF_TYPE  273137200
84  5.967550              CARGO_ALL_OF_TYPE  273137200
85  5.967550              CARGO_ALL_OF_TYPE  273137200
86  5.967550              CARGO_ALL_OF_TYPE  273137200
87  5.967550              CARGO_ALL_OF_TYPE  273137200
88  5.967550              CARGO_ALL_OF_TYPE  273137200
89  5.967550              CARGO_ALL_OF_TYPE  273137200
90  5.967550              CARGO_ALL_OF_TYPE  273137200
91  7.099327              CARGO_ALL_OF_TYPE  355402000
92  7.099327              CARGO_ALL_OF_TYPE  355402000
93  7.099327              CARGO_ALL_OF_TYPE  355402000
94  7.099327              CARGO_ALL_OF_TYPE  355402000
95  7.099327              CARGO_ALL_OF_TYPE  355402000
96  6.327661  OTHER_TYPE_NO_ADDITIONAL_INFO  740339000
97  6.327661  OTHER_TYPE_NO_ADDITIONAL_INFO  740339000
98  6.327661  OTHER_TYPE_NO_ADDITIONAL_INFO  740339000
99  6.327661  OTHER_TYPE_NO_ADDITIONAL_INFO  740339000

[100 rows x 3 columns]

In [16]:
len(query2010)

100

In [ ]:
# SQL

## Multi-table join exercise

# Define query string. Note that secondary table and fields are explicitly referenced using dataset key (ownerid/tableid)
sql_query = "SELECT state, count(fmid) as count, Avg(obesity.Value) as obesityAvg FROM Export LEFT JOIN health.`obesity-by-state-2014`.`adult_obese` as obesity ON state = obesity.location GROUP BY state ORDER BY count desc"

# Query 'local' table, passing query string as parameter
queryResults = dw.query('https://data.world/agriculture/national-farmers-markets', sql_query)

# Create dataframe using dataframe property
stateStats = queryResults.dataframe

# Plot results on state
stateStats.plot(x='state')

In [ ]:
# SPARQL
## Learn SPARQL using our tutorial at https://docs.data.world/documentation/api/sparql.html

# Define query string
sparql_query = "PREFIX GOT: <https://tutorial.linked.data.world/d/sparqltutorial/> SELECT ?FName ?LName WHERE {?person GOT:col-got-house \"Stark\" . ?person GOT:col-got-fname ?FName . ?person GOT:col-got-lname ?LName .}"

# Query table, passing query string and `query_type` as parameters
queryResults = dw.query('http://data.world/tutorial/sparqltutorial', sparql_query, query_type='sparql')

# Create dataframe using dataframe property
houseStark = queryResults.dataframe

# Print first 5 rows of results
pp.pprint(houseStark)

## Advanced SDK Functionality

The data.world Python SDK includes a variety of API wrappers, available via the `ApiClient` class, that let you create, replace, update, and delete a dataset. In this section, we’ll walk through a few common tasks:

- Use `api_client()` to get an instance of the `ApiClient`
- Create a dataset
- Add a file from a dataframe: we’ll write to a local csv and the upload the file
- Add a file from a source URL: this is an easy way to add external data to your dataset and keep it up to date. We’ll use a file from GitHub as an example, but you can use any URL source that points to a file.
- Sync the dataset: this simple call reloads any files with a source URL, to ensure the latest version.
- Update the dataset: after creating a dataset, use `update_dataset` to change attirbutes like description, summary or tags.

Use `help(api_client)` to learn more about each available function or see the full [data.world API documentation](https://docs.data.world/documentation/api/).

In [ ]:
# Create an instance of the ApiClient using `api_client()`
api_client = dw.api_client()

# See api_client documentation
help(api_client)

In [ ]:
# Create a dataset using create_dataset method. 

# Replace the < > items with your username and desired dataset title. Visibility can be changed to 'OPEN' if you choose.
api_client.create_dataset(owner_id="alhaol", title="Test", visibility='PRIVATE')

In [ ]:
# Write a dataframe to a local file and upload to dataset

# Create dataframe
police_shootings = dw.load_dataset('https://data.world/jonloyens/intermediate-data-world').dataframes['fatal_police_shootings_data']

# Write dataframe to local csv using pandas to_csv() method
police_shootings.to_csv('police_shootings.csv', encoding='utf-8')

# Add file to your dataset using upload_files(). Replace the < > items with your dataset values
api_client.upload_files('alhaol/test',['police_shootings.csv'])

In [ ]:
# Update dataset

# Add a file from an external source URL. In this example we'll use github. 
# Replace the < > items with your dataset values
api_client.add_files_via_url('alhao/test',{'shootings_of_police1.csv': 'https://github.com/fivethirtyeight/data/blob/master/police-deaths/all_data.csv'})

# For files added with add_files_via_url, fetch the latest version using the sync() method:
api_client.sync_files('alhaol/test')
                                                                
# Use the update_dataset() method to update the metadata after dataset creation:
api_client.update_dataset('alhaol/test', description='Dataset created to test out the python SDK functionality.', tags=['test', 'datacamp'])